
        section{
            padding-top: 75px;
         margin-bottom: 120px;
         }
         .none{
             display: none;
         }
          .gradient-custom-4 {
            /* fallback for old browsers */
            background: #6a11cb;
          
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
          
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
          }
          .rel{
            position: absolute;
            left: 25px;
           }
